@use '../helpers' as *;

.header {
    background-color: var(--color-blocks-bg);
    position: sticky;
    top: 0;

    animation-name: scrolling-header;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: rem(100) rem(200);
    
    @keyframes scrolling-header {
        to{
            box-shadow: 0 0 1rem 0 var(--color-header-outline);
        }
    }

    &__content {
        width: 100%;
        display: flex;
        padding-block: rem(20);
        flex-direction: row;
        justify-content: space-between;
        column-gap: 1rem;
    }

    &__navigation {
        display: flex;
        align-items: center;

        @include tablet {
            overflow-y: auto;
        }

        &-list {
            display: flex;
            align-items: center;
            column-gap: rem(20);

            @include tablet{
                flex-direction: column;
                row-gap: 1rem;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            padding: rem(10);
            min-width: rem(40);
            min-height: rem(40);
            border-radius: rem(7);
            transition-duration: var(--transition-duration);

            @include hover {
                background-color: var(--color-red);
            }

            @include tablet{
                justify-content: center;
                text-align: center;
                min-width: rem(200);
            }
        }
    }

    &__overlay {
        @include tablet-above {
            display: contents;
        }

        @include tablet {
            position: fixed;
            inset: 0;
            padding: 1rem;
            background-color: var(--color-dark-10);
            transition-duration: var(--transition-duration);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 3rem;

            &:not(.is-active) {
                @include hide;

                translate: 100%;
            }
        }
    }

    &__user {
        display: flex;
        align-items: center;
        column-gap: rem(16);
        cursor: pointer;

        &-username {
            color: var(--color-light);
        }
    }


}